/* style.css */
:root {
    --background-colour: #CAD2C5;   /* Light background */
    --text-colour: #2f3e46;         /* Dark text */
    --button-hover-bg: rgba(47, 62, 70, 0.1);
    --contour-colour: #2f3e46;
    --content-box-colour: rgba(183, 191, 179, 0.5);

    /* Background variables */
    --background-width-left: 1000px;
    --background-width-right: 1500px;
    --background-left-svg: url('res/contour-1-dark.svg');
    --background-right-svg: url('res/contour-1-dark.svg');

    /* Icons */
    --linkedin-icon: url('icons/linkedin-dark.svg');
    --github-icon: url('icons/github-dark.svg');
}

html[data-theme="dark"] {
    --background-colour: #2f3e46;   /* Dark background */
    --text-colour: #CAD2C5;         /* Light text */
    --button-hover-bg: rgba(202, 210, 197, 0.2);
    --contour-colour: #CAD2C5;
    --content-box-colour: rgba(64, 85, 96, 0.5);

    /* Background variables */
    --background-left-svg: url('res/contour-1-light.svg');
    --background-right-svg: url('res/contour-1-light.svg');

    /* Icons */
    --linkedin-icon: url('icons/linkedin-light.svg');
    --github-icon: url('icons/github-light.svg');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 400px;
    overflow-x: hidden;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Outfit", sans-serif;
    overflow-y: scroll;
}

main {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
    margin-bottom: 15px;
    transition: transform 0.5s ease-out, background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.header-initial {
    transform: translateY(-100%);
}

.header-animated {
    transform: translateY(0);
}

.logo {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

h1 {
    font-family: "Funnel Display", sans-serif;
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    margin: 0;
}

#header-logo-container {
    display: none;
}

#header-logo {
    height: 50px;
    width: auto;
}

.nightmode-button {
    position: absolute;
    right: 20px;
    top: 42%;
    z-index: 2;
    margin-right: 15px;
}

.nightmode-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.nightmode-button button:hover {
    background-color: var(--button-hover-bg);
}

.nightmode-button img {
    height: 20px;
    width: auto;
    vertical-align: middle;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav ul li a {
    color: var(--text-colour);
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-weight: 350;
    font-size: 1em;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: block;
}

nav ul li a:hover {
    background-color: var(--button-hover-bg);
}

footer {
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: auto;
    box-sizing: border-box;
    font-size: 0.8em;
    position: relative;
    z-index: 1;
}

footer p {
    margin: 0;
    font-family: "Outfit", sans-serif;
    opacity: 0.6;
}

footer a {
    color: var(--text-colour);
    text-decoration: underline;
    opacity: 0.6;
}

footer a:hover {
    opacity: 1;
}

.social-links {
    text-align: center;
    z-index: 1;
}

.social-links a {
    display: inline-block;
}

.social-links img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.social-links img:hover {
    opacity: 1;
}

.background-svgs {
    position: fixed;
    bottom: 0;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    transition: background-image 0.3s ease;
    opacity: 0.05;
}

.content-box {
    width: 90%;
    max-width: 1400px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--content-box-colour);
    border-radius: 15px;
    backdrop-filter: blur(8px);
    -webkit-background-filter: blur(5px); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    z-index: 1;
    color: var(--text-colour);
    opacity: 0;
    transition: opacity 1s ease-out;
}

.content-box.visible {
    opacity: 1;
}

.content-box h2 {
    font-family: "Funnel Display", sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin: 0 0 10px 0;
    text-align: left;
    color: inherit;
}

.content-box p {
    font-family: "Outfit", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    text-align: left;
    margin: 0;
    padding: 0;
}

#background-left {
    left: -300px;
    top: -100px;
    rotate: -20deg;
    width: var(--background-width-left);
    background-image: var(--background-left-svg);
    background-position: top left;
}

#background-right {
    right: -700px;
    bottom: -490px;
    rotate: 170deg;
    width: var(--background-width-right);
    background-image: var(--background-right-svg);
    background-position: bottom right;
}

html[data-theme="dark"] #background-left {
    background-image: var(--background-left-svg);
}
html[data-theme="dark"] #background-right {
    background-image: var(--background-right-svg);
}

#scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding-bottom: 5px;
    background-color: var(--text-colour);
    color: var(--background-colour);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 5;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#scroll-top.visible {
    opacity: 1;
    visibility: visible;
}

.sub-box-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.sub-box {
    flex: 1;
    min-width: 200px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center; /* Center content */
}

@media screen and (min-width: 601px) {
    header {
        position: sticky;
        top: 0;
    }

    header.sticky {
        background-color: var(--header-bg-blur);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    #scroll-top {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .sub-box-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    #header-title {
        display: none;
    }

    #header-logo-container {
        display: block;
    }

    .logo {
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    #background-right {
        right: -1000px;

    }

    header {
        position: relative;
        top: auto;
        background-color: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        box-shadow: none;
    }

}