/* style.css */
body {
    margin: 0;
    background-color: #2f3e46;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

h1 {
    font-family: "Funnel Display", sans-serif;
    font-weight: 600;
    font-size: 3em;
    color: #CAD2C5;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    color: #CAD2C5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.settings {
    display: flex;
    gap: 10px;
    padding-right: 10px;
}