/* style.css */
body {
    margin: 0;
    background-color: #2f3e46;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Funnel Display", sans-serif;
    font-weight: 600;
    font-size: 3em;
    color: #CAD2C5;
    text-align: center;
    margin: 0;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    color: #CAD2C5;
    text-align: center;
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav ul li a {
    color: #CAD2C5;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-weight: 350;
    font-size: 1em;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(202, 210, 197, 0.2);
}

footer {
    width: 100%;
    text-align: center;
    color: #CAD2C5;
    font-family: "Outfit", sans-serif;
    position: absolute;
    bottom: 0;
    opacity: 60%;
}

.logo-lang-nightmode {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
}

.lang-nightmode-buttons {
    position: absolute;
    top: 45%;
    right: 20px;
    gap: 10px;
    align-items: center;
}

.lang-nightmode-buttons button {
    background-color: transparent;
    border: 0px;
    color: #CAD2C5;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    transition: background-color 0.3s ease;
    font-size: 0.8em;
}

.lang-nightmode-buttons button:hover {
    background-color: rgba(202, 210, 197, 0.2);
}

.lang-nightmode-buttons button img {
    height: 14px;
    width: auto;
    vertical-align: middle;
}